<div class="card">
  <div class="card-title">
    <h1>{{ film.title }}</h1>
    <span class="description">Chronological order: {{ film.episode_id }}</span>
  </div>
  <div class="card-body">
    <p class="card-description">
      <strong>Director:</strong> {{ film.director }}
    </p>
    <p class="card-description">
      <strong>Producer:</strong> {{ film.producer }}
    </p>
    <p class="card-description">
      <strong>Release Date:</strong>
      {{ film.release_date | date: 'dd/MM/yyyy' }}
    </p>
    <p class="card-description">
      <strong>Description:</strong> {{ film.opening_crawl }}
    </p>

    <app-card-list
      title="Planets on the movie"
      [items]="planets"
      [displayFields]="[
        'name',
        'climate',
        'diameter',
        'gravity',
        'orbital_period',
        'population'
      ]"
      path="planets"
    >
    </app-card-list>
    <app-card-list
      title="People on the movie"
      [items]="characters"
      [displayFields]="['name', 'gender']"
      path="people"
    >
    </app-card-list>

    <app-card-list
      title="Species on the movie"
      [items]="species"
      [displayFields]="['name', 'classification', 'designation']"
      path="species"
    >
    </app-card-list>

    <app-card-list
      title="Vehicles on the movie"
      [items]="vehicles"
      [displayFields]="[
        'name',
        'model',
        'cost_in_credits',
        'cargo_capacity',
        'manufacturer'
      ]"
      path="vehicles"
    >
    </app-card-list>

    <app-card-list
      title="Starships on the movie"
      [items]="starships"
      [displayFields]="[
        'name',
        'model',
        'cost_in_credits',
        'cargo_capacity',
        'manufacturer'
      ]"
      path="starships"
    >
    </app-card-list>
  </div>
</div>
