<div class="centered">
  <div class="cards" *ngIf="peoples && peoples.length > 0">
    <div
      class="card"
      *ngFor="
        let people of peoples | paginate: { itemsPerPage: 5, currentPage: p }
      "
    >
      <div class="card-title">
        <h1>{{ people.name }}</h1>
        <span class="description">Gender: {{ people.gender }}</span>
      </div>
      <div class="card-body">
        <p class="card-description">
          <strong>Year of Birth:</strong> {{ people.birth_year }}
        </p>
        <p class="card-description">
          <strong>Height:</strong> {{ people.height }}
        </p>
        <p class="card-description"><strong>Mass: </strong>{{ people.mass }}</p>

        <p class="card-description">
          <strong>No. of Participations:</strong> {{ people.films.length }}
        </p>

        <h3>Films where person appears:</h3>
        <ul *ngFor="let film of people.films">
          <li (click)="goToDetails('films', film)">
            {{ getFilmName(film) }}
          </li>
        </ul>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
